* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}
.hide { display: none; }
.carGame {
    width: 100%;
    height: 100vh;
    background-image: url('assets/images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.car, .enemyCar {
    width: 5vw;
    height: 8vw;
    background: red;
    position: absolute;
    bottom: 10vh;
    background-image: url('assets/images/car.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.roadLines {
    width: 2vw;
    height: 10vh;
    position: absolute;
    background: white;
    margin-left: 50%; 
    transform: translateX(-50%);
}
.gameArea {
    width: 50vw;
    height: 80vh;
    background: #2d3436;
    margin: auto;
    position: relative;
    overflow: hidden;
    border-right: 0.5vw dashed #c8d6e5;
    border-left: 0.5vw dashed #c8d6e5;
}
.score {
    position: absolute;
    top: 2vh;
    left: 2vw;
    background: #10ac84;
    width: 30vw;
    line-height: 7vh;
    text-align: left;
    color: white;
    font-size: 1.5em;
    box-shadow: 0 5px 5px #777;
}
.startScreen {
    position: absolute;
    background-color: #ee5253;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
    text-align: center;
    border: 1px solid #ff6b6b;
    padding: 15px;
    width: 80%;
    cursor: pointer;
    font-size: 1.2em;
    line-height: 2;
    text-transform: uppercase;
    box-shadow: 0 5px 5px #777;
}
.level button {
    padding: 10px;
    font-size: 1em;
    background: white;
    border: 1px solid orangered;
    border-radius: 10px;
    width: 20vw;
    cursor: pointer;
    outline: none;
    box-shadow: 0 5px 5px #777777a6;
}
